<section>
  <div class="record">
    <p class="timer">
      <span>Таймер записи: </span>{{ recordTimerService.timer }}s
    </p>
    <button
      [ngClass]="{ active: audioService.isRecording }"
      [disabled]="audioService.isPlaying"
      (click)="onClickTopButton()"
    >
      {{ textButtons.topButton }}
    </button>
    <p class="timer">
      <span>Таймер воспроизведения: </span>
      {{ playTimerService.timer }}s
    </p>
    <button
      [ngClass]="{ active: audioService.isPlaying }"
      [disabled]="audioService.isRecording"
      (click)="onClickBottomButton()"
    >
      {{ textButtons.bottomButton }}
    </button>
  </div>
</section>
