<section>
  <div class="record">
    <p class="timer">
      <span> Timer: </span>
      {{ this.timerService.timer }}s
    </p>
    <button
      [ngClass]="{ active: this.audioService.isRecording }"
      [disabled]="this.audioService.isRecording"
      (click)="this.onClickTopButton()"
    >
      {{ this.textButtons.topButton }}
    </button>
    <button
      [ngClass]="{ active: this.audioService.isPlaying }"
      (click)="this.onClickBottomButton()"
    >
      {{ this.textButtons.bottomButton }}
    </button>
  </div>
</section>
