<li class="card">
  <p class="card-item">
    <span class="description">ФИО: </span>
    <span>{{ call.username }}</span>
  </p>
  <p class="card-item">
    <span class="description">Начало разговора: </span>
    <span>{{ call.timestampStart | date : "HH:mm:ss dd.MM.yy" }}</span>
  </p>
  <p class="card-item">
    <span class="description">Конец разговора: </span>
    <span>{{ call.timestampEnd | date : "HH:mm:ss dd.MM.yy" }}</span>
  </p>
  <p class="card-item">
    <span class="description">Длительность разговора: </span>
    <span>{{ callDuration }}</span>
  </p>
  <form class="card-item form" [formGroup]="form">
    <span class="description">Тип звонка: </span>
    <span class="type"> {{ call.callType }} </span>
    <input
      class="input"
      (input)="onInputChange()"
      type="text"
      formControlName="inputValue"
    />
    <button class="button" (click)="openModal()">+</button>
  </form>
  <button class="button" (click)="removeCall()">удалить</button>
</li>
