<li class="card">
  <p class="card-item">
    <span class="description">ФИО: </span>
    <span>{{ call.username }}</span>
  </p>
  <p class="card-item">
    <span class="description">Начало: </span>
    <span>{{ getFormattedDate(call.timestampStart) }}</span>
  </p>
  <p class="card-item">
    <span class="description">Конец: </span>
    <span>{{ getFormattedDate(call.timestampEnd) }}</span>
  </p>
  <p class="card-item">
    <span class="description">Длительность: </span>
    <span>{{ callDuration }}s</span>
  </p>
  <form class="card-item form" [formGroup]="form">
    <span class="description">Тип звонка: </span>
    <span class="type"> {{ call.callType }} </span>
    <input
      class="input"
      (input)="onInputChange()"
      type="text"
      formControlName="inputValue"
    />
    <button class="button" (click)="openModal()">+</button>
  </form>
  <button class="button" (click)="removeCall()">удалить</button>
</li>
