.card {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 0.25rem;
  border: 1px solid black;
}

.card-item {
  width: 100%;
  padding: 0.5rem 0;
  overflow-wrap: break-word;
}

.form {
  display: flex;
  align-items: center;
}

.form > *:first-child {
  flex-grow: 1;
}

.form > *:not(:last-child) {
  margin-right: 1rem;
}

.type {
  text-transform: capitalize;
}

.input {
  max-width: 3rem;
}

.description {
  display: inline;
}

@media (min-width: 768px) {
  .card {
    padding: 0 0.5rem;
    grid-template-columns: var(--call-grid-template);
    align-items: center;
    border: none;
    border-radius: 0;
    background-color: var(--additional-color);
  }

  .card-item {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description {
    display: none;
  }

  .button {
    padding: 0.25rem;
    align-self: center;
  }

  .form {
    padding-right: 2rem;
    justify-content: end;
  }

  .type {
    flex-grow: 1;
  }
}
