.card {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  border: 1px solid black;
}

.card-item {
  width: 100%;
  padding: 0.5rem 0;
  overflow-wrap: break-word;
}

.form {
  display: flex;
  align-items: center;
}

.form > * {
  flex-grow: 1;
}

.form > *:not(:last-child) {
  margin-right: 1rem;
}

.type {
  text-transform: capitalize;
}

.input {
  max-width: 3rem;
}
