<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <label class="label">
    <p>A</p>
    <p>Вызов машиниста</p>
    <input class="radio" type="radio" formControlName="callType" value="a"
  /></label>
  <label class="label">
    <p>B</p>
    <p>Вызов скорой помощи</p>
    <input class="radio" type="radio" formControlName="callType" value="b"
  /></label>
  <label class="label">
    <p>C</p>
    <p>Вызов МЧС</p>
    <input class="radio" type="radio" formControlName="callType" value="c"
  /></label>
  <label class="label">
    <p>D</p>
    <p>Вызов полиции</p>
    <input class="radio" type="radio" formControlName="callType" value="d"
  /></label>
  <div class="buttons">
    <button>Сохранить</button>
    <button (click)="clear()" type="button">Очистить</button>
  </div>
</form>
